.main-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.main-container .button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid green;
  padding: 10px;
}
